.logoHeader {
  font-family: "BandeinsSansBold";
  font-size: large;
  color: white;
  /* margin-left: 20px; */
}

@font-face {
  font-family: "BandeinsSansBold";
  src: local("BandeinsSansBold"),
    url(./assets/BandeinsSansBold.otf) format("opentype");
}